{% extends 'Administrator/adminbase.html' %} {% load static %} {% block body %}

      <div class="card">
        <div class="card-body">
 <!-- <div class="page-breadcrumb"> -->
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Platforms</h4>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
            <!-- <div class="ctn"> -->
                <form action="/platform/addnewplatformdb/" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                                 <input type="hidden" name="csrfmiddlewaretoken" value="b1nsAXd23ucqJmJ9MoYjEZjOiFoWxoAA58wAZc8TfOpl12Ka5HCwmwdKtsBgDOZA">
                	<div class="col-md-12 col-lg-6 p-4" style="margin-left: 10%;">
                    <img src="/static/plugins/images/Icon-awesome-circle-notch.png" alt="loading" width="16">
                    <span class="font-medium" style="margin-left: 3px;">Enter platform name:</span>
                    <input type="text" name="platformname" placeholder="Enter platform Name" style="margin-left:200px;width:50%;position:relative;bottom: 20px;">
                </div>
                
                      <div class="col-md-12 col-lg-6 p-4" style="margin-left: 10%;">
                    <img src="/static/plugins/images/Icon-awesome-circle-notch.png" alt="loading" width="16">
                    <span class="font-medium" style="margin-left: 3px;">upload thumbnail:</span>
                    <input type="file" name="thumbimg"  style="margin-left: 200px;position:relative;bottom: 25px;width: 50%;">
                      </div>
                     <div class="col-md-12 col-lg-6 p-4" style="margin-left: 10%;">
                    <img src="/static/plugins/images/Icon-awesome-circle-notch.png" alt="loading" width="16">
                    <span class="font-medium" style="margin-left: 3px;">Enter short description:</span>
                   <textarea class="form-control" rows="5" name="description" id="shortdescription" style="margin-left: 200px;position: relative;bottom: 34px;width: 50%;"> </textarea>
                </div>
                <div class="col-md-12 col-lg-6 p-4" style="margin-left: 10%;">
                <center>
                   <button class="btn btn-secondary cancel" type="reset"  style="width:100px;background: #B2C1C2;border-radius: 16px;">Cancel</button>
                   <button class="btn btn-secondary update" type="submit" style="width:100px;background: #66F0F5;border-radius: 16px;">Submit</button>
                                       
                 </center>
                 </div>
                            </form>
                        </div>
</div>
</div>
</div>

{% endblock body %}