{% extends 'Administrator/adminbase.html' %} {% load static %} {% block body %}
<style>
    #choose::file-selector-button {
        background-color: rgb(100, 139, 165);
        /* padding: 12px; */
        color: white;
        width: 100px;
        height: 25px;
    }
</style>
<div class="row" style="padding-top:20px; ">
    <div class="col-12 col-sm-2 col-md-2 col-lg-2"></div>

    <div class="col-12 col-sm-8 col-md-8 col-lg-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body" style="height:auto;padding-top:20px; ">
                <br>
                <center>
                    <h3 class="card-title" style="font-size: x-large;">platforms</h3>
                </center>
                <br><br>

                <form class="forms-sample" method="post" autocomplete="off">
                    {% csrf_token %}
                    

                    <div class="form-group">
                        <label for="exampleInputName1"style="font-weight: 700;">enter platform name:</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="enter platform name:">
                      </div>

                      <div class="form-group">
                        <label style="font-weight: 700;">Upload Thumbnail:</label>
                        <input type="file" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="file" name="files">choose file</button>
                          </span>
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <label for="exampleTextarea1" style="font-weight: 700;">  Short Description </label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                      </div>


                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
          
            </form>
        </div>
        </div>
    </div>
</div>









{% endblock %}