<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project House | Final year computer science projects</title>
    <meta name="description" content="Project house is a warehouse of more than 100+ computer science projects in all platforms. Project house also helps to identify free internships and job training facility.">
    <link rel="canonical" href="https://projecthouse.store/" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/469ce4321a.js" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/static/css/style6.css" rel="stylesheet">
    <link href="/static/css/home.css" rel="stylesheet">
    <link href="/static/css/chat.css" rel="stylesheet">
    <style>
        .searchbar {
            margin-bottom: auto;
            margin-top: auto;
            height: 60px;
            background-color: #353b48;
            border-radius: 30px;
            padding: 10px;
        }
        
        .search_input {
            color: white;
            border: 0;
            outline: 0;
            background: none;
            width: 0;
            caret-color: transparent;
            line-height: 40px;
            transition: width 0.4s linear;
        }
        
        .searchbar:hover>.search_input {
            padding: 0 10px;
            width: 450px;
            caret-color: red;
            transition: width 0.4s linear;
        }
        
        .searchbar:hover>.search_icon {
            background: white;
            color: #e74c3c;
        }
        
        .search_icon {
            height: 40px;
            width: 40px;
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: white;
            text-decoration: none;
        }
    </style>
    <meta name="google-site-verification" content="Y9uQV09ceEoDfoFTXANrLsOqVkzspiOH9yk0qBkpVZ8" />
    <!--<meta name="keywords"content="final year projects,Projects for computer science,Project topics for final years,Computer science projects examples,Python projects,Android projects,Unity projects,php projects,Asp.net projects,Java projects,Student internships,Free job training.”>-->
</head>

<body>
    <header style="background-image: url('/static/img/wall123.webp');width: 100%;  background-size:cover;">
        <div>
            <nav class="navbar navbar-dark bg-primary" style="height: 55px;">

                <div class="logo" style="margin-bottom: 150px;margin-left: 40px;width: 30px; ">

                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container-fluid px-0" style="position: absolute;top: 1%;">
                    <div class="navbar-brand" style="position: relative;left: 0px; bottom: 11px; margin-bottom: 150px;margin-left: 10px;font-weight: normal;font-max-size: large;font-size: 25px;"><img src=/static/images/Group-43.png width="20%" class="mt-3">
                        <ul class="nav-area">
                            <li style="position: relative;bottom: 11px; margin-bottom: 150px;margin-left: 0px;font-weight: normal;font-max-size: large;"><a href=/> Home</a>
                            </li>
                            <li style="position: relative;bottom: 11px; margin-bottom: 150px;margin-left: 0px;font-weight: normal;font-max-size: large;"><a href="/userreqprojects/">Send project ideas</a></li>
                            <li style="position: relative;bottom: 11px; margin-bottom: 150px;margin-left: 0px;font-weight: normal;font-max-size: large;"><a href="/userintership/">Apply for internships</a></li>
                            <li style="position: relative;bottom: 11px; margin-bottom: 150px;margin-left: 0px;font-weight: normal;font-max-size: large;"><a href="/usermockexam/">Take mock exam</a></li>
                            <li style="position: relative;bottom: 11px; margin-bottom: 150px;margin-left: 0px;font-weight: normal;font-max-size: large;"><a href="/gologin/">Login</a></li>
                            <li style="position: relative;bottom: 11px; margin-bottom: 150px;margin-left: 0px;font-weight: normal;font-max-size: large;"><a href="/gosignup/">Registration</a></li>

                        </ul>
                    </div>
            </nav>

            <div style="margin-left: 37%; margin-top: 5%;">


            </div>
            <div style="margin-top: 2rem;margin-bottom: 2rem;">
                <h5 style="color: white; font-family: sans-serif; font-style: oblique; text-align: center;">Find your best projects for your academics from here</h5>
            </div>
            <div class="col-md-4 col-sm-4 mb-4 col-lg-4" style="position: relative; top: 40%;margin-left: 33%; margin-right: 20%;">

                <div class="d-flex justify-content-center">
                    <div class="searchbar">
                        <input class="search_input" type="text" name="" placeholder="Search...">
                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>
                </div>



                <div class="search-result" id="search-result" style="background: rgb(6 209 241/ 53%);margin-top: 0.25rem;border-radius: 0.5rem;position: absolute;display: none;">

                    <ul id="search-result-list" style="list-style-type: none; "></ul>
                    <style>
                        a {
                            color: white;
                            text-decoration: none;
                        }
                    </style>

                </div>
            </div>
            </div>
    </header>



    <!-- CHAT BAR BLOCK -->
    <div class="chat-bar-collapsible">
        <button id="chat-button" type="button" class="collapsible">Chat with us!
                <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
            </button>

        <div class="content">
            <div class="full-chat-block">
                <!-- Message Container -->
                <div class="outer-container">
                    <div class="chat-container">
                        <!-- Messages -->
                        <div id="chatbox">
                            <h5 id="chat-timestamp"></h5>
                            <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                        </div>

                        <!-- User input box -->
                        <div class="chat-bar-input-block">
                            <div id="userInput">
                                <input id="textInput" class="input-box" type="text" name="msg" placeholder="Tap 'Enter' to send a message">
                                <p></p>
                            </div>

                            <div class="chat-bar-icons">
                                <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart" onclick="heartButton()"></i>
                                <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send" onclick="sendButton()"></i>
                            </div>
                        </div>

                        <div id="chat-bar-bottom">
                            <p></p>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <hr>
    <!-- Footer-->
    <!--<footer class="py-5 bg-black">
                <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; Your Website 2021</p></div>
            </footer>-->
    <footer id="footer" style="background-color: #1B262C">
        <div class="container >
               <!-- Footer Links -->
               <div class=" container text-center text-md-left ">
                   <!-- Grid row -->
                   <div class="row mt ">
                       <!-- Grid column -->
                      <!-- <div class="col-md-12 col-lg-8 col-xl-2 mx-auto mb-4 " style="margin-top:5%; ">
                           
                           <img srcset="/static/infox.png " alt="responsive image " class="d-block img-fluid " style="align-content: center;margin: auto; ">
                        </div>-->
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-12 col-lg-12 col-xl-12 mx-auto mb-4 " style="margin-top:6%; ">
                            <h1  style="font-size: 150%;color: white; ">Contact information</h1>
                            <p style="color:white; ">
                            Indian Address:<br>
                            Heavenly Plaza<br>
                        13<sup>th</sup> floor
                            Vazhakkala Kochi<br>
                            
                            Kerala<br>
                            Pin :682021<br>
                            phone: +91 7736071987
                      
                            </p>
      
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <!--<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 " style="margin-top:12%; ">
                              <p style="color:white;font-size: 15px; ">
                                USA Address<br>
                                INFOX Technologies
                                615 ST George Square Court
                                Winston-Salem, North Carolina
                                United States Of America
                                Phone:+001 336-5461805
                              </p>
      
      
                         </div>-->
                          <!-- Grid column -->
                      
                          <!-- Grid column -->
                         <!-- <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 " style="margin-top:16%; ">
                              <p style="color:white; ">
                                   Email:hr@infoxtechnologies.com <br>
                                   Web:infoxtechnologies.com
                                  </p>
                            </div>-->
                            <!-- Grid column -->
      
                    </div>
                    <!-- Grid row -->
                </div>
      <!-- Footer Links -->
      
      
      
      </footer>
            <!-- Bootstrap core JS-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js "></script>
            <!-- Core theme JS-->
    
    
    
    
    
               
    
    
    
    
    
        <script>
            $('#srcbtn').click(function (){
                let search = $('#searchbar').val();
                console.log(search)
                var searchList = document.querySelector('#search-result-list');
    
    
                var data = {
                    'csrfmiddlewaretoken' : '2guSitD8iGGCOvGRIZve7sbbltIGsqmLiFgJtANDpjnrC8JyyY2l0hGAh3pVLpse',
                    'search': search,
                }
    
                $.ajax({
                    url: '/userdashboard/',
                    method: 'POST',
                    data: data,
                    dataType: 'json',
                    success: function (data){
                        searchList.innerHTML = '';
                        console.log('hi');
                        document.getElementById('search-result').style.display = "block ";
                        var i;
    
                        for (i=0; i< data.length; i++){
                             var li = document.createElement("li ");
                             var aTag = document.createElement("a ");
                             aTag.innerHTML = data[i];
                             var url = "http://localhost:8000/takeDiversion ";
                            var arg = data[i];
                             aTag.href = url + "/ " + arg;
                             li.appendChild(aTag);
                             searchList.appendChild(li);
                            console.log(data[i]);
                        }
    
                    }
                });
            });
    
            $('body').click(function() {
               $('.search-result').hide();
            });
        </script>
            <script src=/static/js/scripts.js></script>
            <script src=/static/js/responses.js></script>
            <script src=/static/js/chat.js></script>
    </body>
    </html> <script src=/static/js/chat.js></script>
    </body>
    </html>